.hero {
    @media screen and (min-width: 768px) {
        background-color: #2f303a;
    background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ), url(../images/Header-tabl1x-min.jpg);
    background-repeat: no-repeat;
    background-position: center; 
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    
    text-align: center;
    padding: 200px 0;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
    background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ), url(../images/Header-tabl2x-min.jpg);

   
  }
}
}

.hero__title {
    margin-top: 0;
    margin-bottom: 40px;
    color: $primary-bg-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
}

.hero__button {
    align-items: center;
    color: $primary-bg-color;
    background-color: $accent-color;
    font-weight: 700;
    letter-spacing: 0.06em;
    padding: 10px 32px;
}
.hero__button {
    &:hover, &:focus {
        background-color: $accent-color-btn;
    }
}
