
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-bg-color: #ffffff;
$fon-btn-color: #f5f4fa;
$color-border: #EEEEEE;
$color-border-buttom: #E5E5E5;
$accent-color-btn: #188ce8;
$color-logo-header: #000000;
$color-icons: #AFB1B8;
$background-color-footer: #2f303a;