@media screen and (min-width: 1200px) {
    .clients__list {
        display: flex;
}
}
@media screen and (min-width: 1200px) {
    .clients__link {
        width: 170px;
    }
}
@media screen and (min-width: 1200px) {
    .clients__item {
    &:not(:last-child) {margin-right: 30px;}
}
}