@media screen and (min-width: 1200px) {
    .tablet {
        display: flex;
        align-items: baseline;
    }
}

@media screen and (min-width: 1200px) {
    .footer-social {
        margin-left: 70px;
    }
}

@media screen and (min-width: 1200px) {
    .form-footer__wrapper {
        display: flex;
    }
}
@media screen and (min-width: 1200px) {
    .form-footer__button--accent {
        margin-left: 12px;
        width: 200px;
        height: 50px;
    }
}

@media screen and (min-width: 1200px) {
    .container__footer-page {
        display: flex;
        align-items: baseline;
    }
    
}